fastapi
openai
uvicorn
llama-index-core
llama-index-readers-file
llama-index-vector-stores-postgres
llama-index-embeddings-huggingface
sentence-transformers
pandas
psycopg2-binary
sqlalchemy
pgvector
asyncpg
sqlalchemy[asyncio]
greenlet
pydantic

