fastapi
uvicorn
llama-index-core
llama-index-readers-file
llama-index-vector-stores-postgres
llama-index-embeddings-huggingface
llama-index-llms-llama-cpp
sentence-transformers
pandas
llama-cpp-python
psycopg2-binary
sqlalchemy
pgvector
asyncpg
sqlalchemy[asyncio]
greenlet
pydantic

